@model CruiseShip.Models.Room

@{
    ViewData["Title"] = "Create";
}

<form method="post">
	<div class="border p-3 mt-4 text-dark bg-white " style="border-radius:30px">
		<div class="row pb-2">
			<h2 class="text-dark">Create Room</h2>

		</div>
		<hr class="m-0 mb-2" />
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="RoomNumber" class="mb-1"></label>
			<input asp-for="RoomNumber" class="form-control" />
			<span asp-validation-for="RoomNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Type" class="mb-1"></label>
			<input asp-for="Type" class="form-control" />
			<span asp-validation-for="Type" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Fee" class="mb-1"></label>
			<input asp-for="Fee" class="form-control" />
			<span asp-validation-for="Fee" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AvailableSlots" class="mb-1"></label>
			<input asp-for="AvailableSlots" class="form-control" />
			<span asp-validation-for="AvailableSlots" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CreatedBy" class="mb-1"></label>
			<input asp-for="CreatedBy" class="form-control" />
			<span asp-validation-for="CreatedBy" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-dark form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Room" asp-action="Index" class="btn btn-outline-dark form-control">Back to List</a>
			</div>
		</div>
	</div>

</form>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}