@model FacilityVM

@{
	ViewData["Title"] = "Create";
}
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4 text-dark bg-white " style="border-radius:30px">
		<div class="row pb-2">
			<h2 class="text-dark">Create Facility</h2>
			
		</div>
		<hr class="m-0 mb-2"/>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Facility.Name" class="mb-1"></label>
			<input asp-for="Facility.Name" class="form-control" />
			<span asp-validation-for="Facility.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Facility.Description" class="mb-1"></label>
			<input asp-for="Facility.Description" class="form-control" />
			<span asp-validation-for="Facility.Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Facility.Fee" class="mb-1"></label>
			<input asp-for="Facility.Fee" class="form-control" />
			<span asp-validation-for="Facility.Fee" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Facility.AvailableSlots" class="mb-1"></label>
			<input asp-for="Facility.AvailableSlots" class="form-control" />
			 
		</div>
		<div class="mb-3">
			<label asp-for="Facility.ImageURL" class="mb-1"></label>
			<input type="file" class="form-control" />
			<span asp-validation-for="Facility.ImageURL" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Facility.CreatedBy" class="mb-1"></label>
			<select asp-for="Facility.CreatedBy" asp-items="@Model.AdminUsers" class="form-select">
				<option disabled selected>--Select Admin--</option>
			</select>
			<span asp-validation-for="Facility.CreatedBy" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-dark form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Facility" asp-action="Index" class="btn btn-outline-dark form-control">Back to List</a>
			</div>
		</div>
	</div>
	
</form>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}