@model Facility

@{
	ViewData["Title"] = "Upsert";
}
<form method="post" enctype="multipart/form-data">
	<input asp-for="Id" hidden/>
	<input asp-for="ImageURL" hidden />
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 text-dark bg-white " style="border-radius:30px">
		<div class="row pb-2">
			<h2 class="text-dark">@(Model.Id!=0?"Update":"Create") Facility</h2>
			
		</div>
		<hr class="m-0 mb-2"/>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Name" class="mb-1"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description" class="mb-1"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Fee" class="mb-1"></label>
			<input asp-for="Fee" class="form-control" />
			<span asp-validation-for="Fee" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AvailableSlots" class="mb-1"></label>
			<input asp-for="AvailableSlots" class="form-control" />
			 
		</div>
		<div class="mb-3">
			<label asp-for="ImageURL" class="mb-1"></label>
			@if (Model.Id != 0 && !string.IsNullOrEmpty(Model.ImageURL.ToString()))
			{
				<div class="mb-3 d-flex flex-column justify-content-center align-items-center">
					<img class="rounded-3" src="@Model.ImageURL.ToString()" alt="Facility Image" style="max-width: 500px; max-height: 500px;" />
					<p>Current Image</p>
				</div>
				
				<label for="file">Upload New Image</label>
			}
			<input type="file" name="file" class="form-control" />
			
			<span asp-validation-for="ImageURL" class="text-danger"></span>
		</div>
		
		<div class="row">
			<div class="col-6 col-md-3">
				@if (Model.Id!=0){
					<button type="submit" class="btn btn-dark form-control">Update</button>
				}
				else{
					<button type="submit" class="btn btn-dark form-control">Create</button>
				}
				
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Facility" asp-action="Index" class="btn btn-outline-dark form-control">Back to List</a>
			</div>
		</div>
	</div>
	
		</div>
		<div class="col-2">

		</div>
	</div>
	
</form>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}