body{
    background-image: url('saroj-bhandari-E4W9PCThoSY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
h1{
    color:white;
}
.btn-voyager {
  background: #28a745;
  color: white;
}
.btn-staff {
  background: #007bff;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  opacity: 0.9;
}
.btn-custom {
  font-size: 18px;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 8px;
  
}