@model IEnumerable<Facility>
@{
	ViewData["Title"] = "Facility";
}
<div class="row pb-3">
	@foreach (var Facility in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow border-top border-5 rounded">
						<img src="@Facility.ImageURL" class="card-img-top rounded" />
						<div class="card-body pb-0">
							<div class="pl-1">
								<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@Facility.Name</p>
							</div>
							<div class="pl-1">
								<p class="text-dark text-center">Fee:  <span>@Facility.Fee.ToString("c")</span></p>
							</div>
							
							<a asp-area="Voyager" asp-controller="Booking" asp-action="RequestFacility" class="btn btn-dark mx-2">Book <i class="bi bi-pencil-square"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<style>
	.card-img-top {
		width: 100%;
		height: 200px; /* Set your desired height */
		object-fit: cover; /* This ensures the image covers the area without distortion */
	}
</style>