<li class="nav-item">
    <a class="nav-link text-white" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" asp-area="Admin" asp-controller="Facility" asp-action="Index">Facility</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" asp-area="Admin" asp-controller="Booking" asp-action="ViewFacilityBookings">Facility Bookings</a>
</li>