<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage
    </a>
    <ul class="dropdown-menu">
        <li> <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Facility" asp-action="Index">Facility</a></li>
        <li> <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Room" asp-action="Index">Room</a></li>

    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Bookings
    </a>
    <ul class="dropdown-menu">
        <li> <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Booking" asp-action="ViewFacilityBookings">Facility Bookings</a></li>
        <li> <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Booking" asp-action="ViewRoomBookings">Room Bookings</a></li>

    </ul>
</li>