<li class="nav-item">
    <a class="nav-link text-white" asp-area="Voyager" asp-controller="Home" asp-action="Facility">Home</a>
</li>

<li class="nav-item">
    <a class="nav-link text-white" asp-area="Voyager" asp-controller="Bills" asp-action="Index">Bills</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" asp-area="Voyager" asp-controller="Booking" asp-action="UserBookings">Facility History </a>
</li>

