<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Facility
    </a>
    <ul class="dropdown-menu">
        <li> <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="Booking" asp-action="RequestFacility">Request Facility </a></li>
        <li> <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Booking" asp-action="ViewRoomBookings">Room Bookings</a></li>

    </ul>
</li>